
<div class="options">
  <div class="search">
    <input placeholder="Buscar Pokemon" class="box" [(ngModel)]="searchTerm" (ngModelChange)="searchPokemon()">
  </div>
  <div class="filter">
    <button *ngFor="let type of types; let i = index" id="type{{i}}" [ngClass]="types[i].name + ' box'" (click)="filterType(i)">{{type.name | titlecase}}</button>
  </div>
</div>
<div class="wrapper" (scroll)="onScrollLoadData()" #uiElement>
  <div class="cards">
    <app-display-card *ngFor="let pokemon of displayPokemons" [data]="pokemon"></app-display-card>
  </div>
  <button class="scrollTop" (click)="scrolltoTop()">⬆</button>
</div>
