.header{
  width: 100%;
  -webkit-box-shadow: 0px 13px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 35px 0px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.logo{
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  cursor: pointer;
}

.red{
  color: rgb(248, 88, 88);
}
.social{
  margin-left: 1rem;
  margin-right: 2rem;
  font-weight: bold;
}
